.nav-link {
  font-family: "lust", serif;
}

.nav-item {
  font-size: 30px;
  padding-right: 20px;
}

.navbar-brand {
  max-width: 4rem;
  margin-right: 2rem;
}

.navbar-brand img {
  width: 130%;
  height: 100%;
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 7rem;
}

.navbar-dark {
  background-color: #38155B;
  min-height: 8rem;
}

.homepage-hero {
  margin-top: 7rem;
  width: 370px;
}

.frame {
  background-color: white;
  border: solid black 2px;
}

.sakepageimages {
  height: 200px;
  border: solid black 1px;
  margin: auto;
  display: flex;
}

.eventpageimages {
  height: 150px;
  border: solid black 1px;
  margin: auto;
  display: flex;
}

.shoppageimages {
  height: 200px;
  border: solid black 1px;
  margin: auto;
  display: flex;
}

.aboutpageimages {
  display: flex;
  margin: auto;
  width: 325px;
  margin-bottom: 40px;
}

.subheader {
  display: flex;
  justify-content: center;
  color: #38155B;
  font-family: "lust", serif;
  font-weight: 700;
  font-style: italic;
}

.productHeader {
  color: #38155B;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.poppins {
  font-family: "poppins";
}

.lust {
  display: flex;
  justify-content: center;
  font-family: "lust", serif;
  font-style: italic;
}

.site-footer {
  background-color: #38155B;
  padding: 20px 0;
}

.page-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 300ms ease-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: 300ms ease-in;
}