.nav-link {
  font-family: "lust", serif;
}

.nav-item {
  font-size: 30px;
  padding-right: 20px;
}

.navbar-brand {
  max-width: 4rem;
  margin-right: 2rem;
}

.navbar-brand img {
  width: 200%;
  height: 200%;
  margin-right: 2rem;
  margin-top: 2rem;
  max-width: 7rem;
  transform: translateY(-10%);
}

.navbar-dark {
  background-color: #901cad;
  background-image: linear-gradient(to right, #5637dd, #3046c5, #510e5a);
  min-height: 8rem;
}

.homepage-logo {
  width: 320px;
  height: 250px;
}

.sakepageimages {
  width: 150px;
  height: 200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eventpageimages {
  width: 250px;
  height: 150px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.shoppageimages {
  width: 200px;
  height: 200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutpageimages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 350px;
  height: 250px;
  margin-bottom: 40px;
}

.subheader {
  display: flex;
  justify-content: center;
  color: white;
  font-family: "lust", serif;
  font-weight: 700;
  font-style: italic;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.poppins {
  font-family: "poppins";
}

.site-footer {
  background-image: linear-gradient(#cec8ff, white);
  padding: 20px 0;
}

